@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');


button {
    overflow: visible;
    border: 0;
    padding: 0;
    
}

.btn.striped-shadow span {
    display: block;
    position: relative;
    z-index:2;
    border: 5px solid;
  }
  .btn.striped-shadow.dark span {
    border-color: #974949;
    background: #77bfa1;
    color: #393939;
    
  }
  
.btn {
    font-family: 'Pacifico', cursive;
    height: 80px;
    line-height: 65px;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    font-size: 1.35rem;
    transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
    transition: opacity .3s, z-index .3s step-end, transform .3s;
    transition: opacity .3s,
      z-index .3s step-end,
      transform .3s,
      -webkit-transform .3s;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
  }
  .btn {
    width: 155px;
    height: 48px;
    line-height: 38px;
  }
  button.btn.striped-shadow.dark:after, button.btn.striped-shadow.dark:before {
    background-image: linear-gradient(
      135deg,
      transparent 0,
      transparent 5px,
      #393939 5px,
      #393939 10px,
      transparent 10px
    );
  }
  
  button.btn.striped-shadow:hover:before {
    max-height: calc(100% - 10px);
  }
  
  button.btn.striped-shadow:after {
    width: calc(100% - 4px);
    height: 8px;
    left: -10px;
    bottom: -9px;
    background-size: 15px 8px;
    background-repeat: repeat-x;
  }
  button.btn.striped-shadow:after, button.btn.striped-shadow:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    transition: max-height .3s, width .3s, -webkit-transform .3s;
    transition: transform .3s, max-height .3s, width .3s;
    transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
  }
  
  .btn.striped-shadow:hover {
    -webkit-transform: translate(-12px, 12px);
    -ms-transform: translate(-12px, 12px);
    transform: translate(-12px, 12px);
    z-index: 3;
  }
  
  button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
    -webkit-transform: translate(12px, -12px);
    -ms-transform: translate(12px, -12px);
    transform: translate(12px, -12px);
  }
  button.btn.striped-shadow:before {
    width: 8px;
    max-height: calc(100% - 5px);
    height: 100%;
    left: -12px;
    bottom: -5px;
    background-size: 8px 15px;
    background-repeat: repeat-y;
    background-position: 0 100%;
  }
    