@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

body, html {
	margin: 0;
  height: 100%;
	width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background:
	linear-gradient(
		#8bd5cb,
		transparent
	),
	linear-gradient(
		90deg,
		#edfffa,
		transparent
	),
	linear-gradient(
		-90deg,
    #edfffa,
		transparent
	);
}



