@import url('https://fonts.googleapis.com/css?family=Montserrat|Pacifico');
$mainWidth: 80%;
$mainFont: 'Montserrat', sans-serif;
$tittlesFont:'Pacifico', cursive;
$primaryColor: rgb(65, 149, 218) ;
$secondaryColor:rgb(25, 107, 189);
$complementaryColor: rgb(212, 240, 252);
$shadowsColor: rgb(17, 61, 105) ; 


.app-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.card {
  width:280px;
  display: flex;
  flex-direction: column;
    
  box-shadow: 10px 5px 40px 20px (#974949);
  transition: .25s;
  
  &:hover {
    box-shadow: 10px 5px 40px 20px darken(#974949, 10%);
    cursor: pointer;
    
    .button-primary {
      transform: translate(10px, 0);
    }
  }
}

.card-header {
  height: 200px;
  width: 100%;
  padding: 15px;
  background-size:cover;
  color:#fff;

.favourite-button{
  width: 30px;
  height: 30px;
  padding: 5px;
  z-index: 1;
  position: relative;
  top: 0;
  left: 240px;
  border-radius: 50%;
  background-image: url('./images/star-regular.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 5px;
  background-size:30px;
  background-color: #105e62;
  transition: background-image 0.2s ease-out;
}
.favourite-button:hover , .favourite-button-selected {
  cursor: pointer;
  background-image: url('./images/star-hover.png');
}
}

.card-body {
  padding: 15px;
  background-color:#fff;
  width:100%;  
}

.fav-icon {
  float: left;
  margin: auto; 
   
}

.time {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {  
  font-size: 13px;
  line-height: 1.8;
}

.title-routeItem {
  font-family: 'Pacifico', cursive;
  color: #974949;
  font-size: 25px;
  margin: auto;

}

.button-primary {
  border: none;
  box-shadow: none;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  background-color:transparent;
  color: #974949;
  font-size: 20px;
  transition:.25s;
  
  a{
    padding-right:4px;
    text-decoration: none;
    color: #105e62;
    
  }
}



